<h1><%= t(:list_menu) %></h1>

<% if current_user.type == 'Owner' %>
    <%= link_to t(:create_new_menu), new_establishment_menu_path %>
<% end %>


<div class="content">
    <% @menus.each do |menu|%>
        <%= link_to menu.name, establishment_menu_path(menu) %>
    <% end %>
</div>